<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="pure-g-r" style="letter-spacing:0em;">
  <div class="pure-menu pure-menu-open pure-menu-horizontal header">
      <a href="/" class="pure-menu-heading">Editor V4</a>
      <ul>
          <li><a href="/category/create">Add Category</a></li>
      </ul>
  </div>
