{{> header}}

  <div class="pure-u-1-1 content">
    <p>Choose Theme</p>
    <p>This is to showcase how easy a theme selector can be. The actual theme that will be applied will be a little different from what you see here.</p>
  </div>
  <div class="l-centered">
    <div class="pure-u-1-3 img">
      <a href="/category/create/light"><img src="http://media.tumblr.com/themes/screenshots/2iV8fFJHC7Y1TmYr_o1.png" /></a>
    </div>
    <div class="pure-u-1-3">
      <a href="/category/create/dark"><img src="http://media.tumblr.com/themes/screenshots/xnyRYV7gRa8nvuil_o1.png" /></a>
    </div>
  </div>

{{> footer}}
