body .pure-menu.header{
  border-bottom:1px solid #b7b7b7;
}
.img{
  border:1px solid #DDD;
}
.l-centered{
  text-align:center;
}
.content{
  width:90%;
  margin:auto;
  margin-top:0.6em;
}
.message {
  color:black;
  padding: 10px 35px 10px 15px;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  text-align:center;
  width:40%;
  margin:auto;
}
.message-success {
  color:#468847;
  background-color:#dff0d8;
  border-color:#d6e9c6;
}
.footer{
  font-size:0.6em;
  border-top:1px solid #DDD;
  margin-top:1em;
  padding:0.4em;
}
